DB_HOST={localhost}
DB_PORT={db_port}
DB_USER={yutu_user}
DB_PASSWORD={password_here}
DB_NAME={yutu_app}
PORT=8080
JWT_SECRET={secret_here}
STRIPE_SECRET_KEY={sk_env_token}
ALLOWED_ORIGINS=http://localhost:3000, http://localhost:8080
#CHANGE PASSWORD, IT GOT LEAKED TO GIT
STRIPE_WEBHOOK_SECRET={whsec_xxx}